body{
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    line-height: 1.7;
}

#logo{
    max-height: 80px;
    width: 120px;
}

.navbar{
    background: rgba(227, 242, 253, 0.4);
}

.navbar .navbar-nav .nav-item {
    position: relative;
}

.navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #000000;
    width: 0;
    content: "";
    height: 2px;
    transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
    width: 80%;
}

.active .nav-item::after{
    width: 80%;
}
